body {
  background-image: url("https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  width: 600px;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 62px auto;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.heading {
  color: rgb(182, 223, 236);
  text-align: center;
  margin-bottom: 20px;
}

.form-element {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 12px;
  width: 320px;
  border-radius: 16px 0 0 16px;
  border: none;
  outline: none;
}

.submit-button {
  width: 120px;
  border-radius: 0 16px 16px 0;
  padding: 12px;
  background-color: rgb(182, 223, 236);
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: aliceblue;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  flex-wrap: wrap;
  margin-bottom: 30px; /* space between first and second row */
}

.left {
  font-size: 28px;
  font-weight: 400;
}

.left-p {
  font-size: 20px;
}

.right {
  display: flex;
  gap: 10px;
  background-color: rgba(171, 218, 228, 0.2);
  padding: 10px;
  border-radius: 24px;
  align-items: center;
  color: white;
  width: fit-content;
}

.weather-icon {
  width: 80px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.temp-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.weather-temperature {
  font-size: 24px;
  font-weight: bold;
}

.weather-unit {
  font-size: 16px;
}

.second-row {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  margin-top: 20px;
}

.humidity,
.wind,
.detail {
  width: 140px;
  height: 120px;
  color: #fff;
  border-radius: 24px;
  background-color: rgba(171, 218, 228, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

span {
  margin: 0 auto;
}
a {
  color: rgb(182, 223, 236);
}
